.panel.panel-default
  .panel-heading.categories-panel-heading
    %h3 Categories
  .panel-body.categories-panel-body
    .row
      .col-md-12.col-sm-12
        %table.table
          %thead
            %tr
              %th.col-md-8.col-xs-8 Name
              %th.col-md-4.col-xs-4 Actions
          %tbody
            - categories.each do |category|
              %tr
                %td= category.name
                %td
                  = link_to category_path(category), class: 'btn btn-default btn-sm index-buttons' do
                    %i.glyphicon.glyphicon-list-alt
                    Show
                  - if current_user && current_user.admin == true
                    = link_to edit_category_path(category), class: 'btn btn-default btn-sm index-buttons'do
                      %i.glyphicon.glyphicon-pencil
                      Edit
                    = link_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm index-buttons' do
                      %i.glyphicon.glyphicon-trash
                      Destroy
%br

- if current_user && current_user.admin == true
  = link_to new_category_path, class: 'btn btn-default' do
    %i.glyphicon.glyphicon-plus
    New Category
- else
  = link_to 'Admin permissions required', root_url, disabled: "disabled", class: 'btn btn-default'
