%p#notice= notice
.panel.panel-default
  .panel-heading
    %h4= category.name
  .panel-body
    .row
      .col-md-12.col-sm-12
        %table.table
          %thead
            %tr
              %th.col-md-3.col-xs-3 Product
              %th.col-md-3.col-xs-3 Description
              %th.col-md-3.col-xs-3 Price
              %th.col-md-3.col-xs-3 Actions
          %tbody
            - category.products.each do |product|
              %tr
                %td= product.title
                %td= product.description
                %td= product.price
                %td
                  = link_to category_product_path(product.category, product), class: 'btn btn-default btn-sm index-buttons' do
                    %i.glyphicon.glyphicon-list-alt
                    Show
                  - if current_user && current_user == product.user
                    = link_to edit_category_product_path(product.category, product), class: 'btn btn-default btn-sm index-buttons' do
                      %i.glyphicon.glyphicon-pencil
                      Edit
                    = link_to category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm index-buttons' do
                      %i.glyphicon.glyphicon-trash
                      Destroy
                    

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4 New product
      .panel-body
        = render 'products/form'

.category-show-back-buttons
  = link_to edit_category_path(category), class: 'btn btn-default btn-xs' do
    %i.glyphicon.glyphicon-pencil
    Edit
  \|
  = link_to categories_path, class: 'btn btn-default btn-xs' do
    %i.glyphicon.glyphicon-backward
    Back