!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = google_webfonts_init(google: ['Ubuntu', 'Vollkorn'])

  %body#bootstrap-overrides
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand#logo #{AppConfig.workshops_name}
        %p.navbar-text.navbar-right
          = link_to user_profile_path, class: 'btn btn-default' do
            %i.glyphicon.glyphicon-user
            Profile
          - unless current_user.nil?
            = link_to destroy_user_session_path, method: :delete, class: 'btn btn-default session-buttons' do
              %i.glyphicon.glyphicon-log-out
              Log out,
              = current_user.firstname
          - else
            = link_to new_user_session_path, class: 'btn btn-default session-buttons' do
              %i.glyphicon.glyphicon-log-in
              Log in
    .container-fluid
      .row
        .col-lg-12
          = yield
